body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
glyphicon{
    color:black;
}
#bodybackground{
    background:#eeeff1;
}
#BorderDiv{
    border-left-style:solid;
    border-left-color:black;
    border-left-width:1px;
}
#RegisterHeader{
    background:#fafcfc;
    margin-bottom:15px;
    height:155px;
    text-align:center;
    color:#6d717a;
    border-radius:5px;
}
#RegisterBody{
    background:#ffffff;
    /*margin-bottom:15px;*/
    height:600px;
    border-radius:5px;
}
#FooterId{
    background:none repeat scroll 0 0 #373737;
    height:396px;
    min-width:1170px;
    overflow:hidden;
    width:100%;
}
#navigation_search{
    flex:3;
    position:relative;
}
input[type="search"]{
    border-radius:35px;
    border:1px solid #eceff5;
    line-height:3em;
    display:inline-block;
    padding:0 10px 0 20px;
    width: calc(100%-30px);
}
#searchbtn{
    /*flex:3;*/
    /*position:relative;*/
    border-radius:35px;
    /*border:1px solid #eceff5;*/
    /*line-height:3em;
    display:inline-block;*/

}
.g1{
    color:#b4b4b4;
}
/*.tab-pane{
    border-left:1px solid #949090;
    border-right:1px solid #949090;
    border-bottom:1px solid #949090;
    padding:0.8em;
}*/
/*#nav{
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
        float: right;
        display: block;
        position: relative;
        z-index: 500;
        margin: 0 1px;
}
#nav li a{
    display:block;
    padding:8px 5px 0 2px;
    text-decoration:none;
    text-align:center;
}
#nav li a:hover{
    color:#fafcfc;
}*/
.caption{
    background:#fafcfc;
}
#Layoutheader{
    background:none repeat scroll 0 0 #373737;
    height:100px;
    min-width:1170px;
    overflow:hidden;
    width:100%;
}
/*#Paneldefault1{
    background:#e3e4e6;
}
#Paneldefault2{
    background:#e3e4e6;
}*/
#amythumbnail{
    float:left;
}
#mythumbnail{
    text-align:justify;
}
#logo{
    float:left;
}
/*#btnscc{
    float:;
}*/
#myModalLabel{
    text-align:center;
}
#AdminNav{
    color:#ffffff;
    /*background:#6eb87a;*/
    background:#76caaf;
    border-color:#60867a;

}
#AdminAside{
    background-color:#434f4b;
    width:300px;
    height:700px;

}
#AdminBrand{
    background-color:#60867a;
    width:300px;
    height:50px;
    text-align:center;
}
#headingOne{
    background:#76caaf;
    color:white;
    border-color:#223223;
}
#headingTwo{
    background:#76caaf;
    color:white;
    border-color:#223223;
}
#headingThree{
    background:#76caaf;
    color:white;
    border-color:#223223;
}
.x{
    /*background:#636563;
    color:white;*/
    border-color:#434f4b;
}
.AsideLinks{
    color:white;
    text-decoration:none;
}
.AsideLinks:hover,
.AsideLinks:focus{
    color:#cacaca;
    text-decoration:none;
}
.AsideLinks:focus{
    outline: none;
}

#accordion{
    width:270px;
}
#AdminSection{
    width:900px;
    float:left;
}
.AdminNavli{
    float:left;
    color:white;
    
}
.HeadingOne{
    background:#76caaf;
}
#ModalSide{
    background:#76caaf;
}
#NavbarLeft{
    float:left;
    color:white;
}
#myModal{
    float:left;
}
#ShoppingKart{
    padding: 0px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
}
.LinksClass:hover,
.LinksClass:focus{
    color:#434f4b;
    text-decoration:none;
}
.LinksClass:focus{
    outline: none;
}
.LinksClass{
    color:black;
    text-decoration:none;
}
.BrandStyle:hover,
.BrandStyle:focus{
        color:#434f4b;
    text-decoration:none;
}
.BrandStyle:focus{
outline: none;
}
.BrandStyle{
    color:#b4b4b4;
    text-decoration:none;
    text-align:center;
}

#back-top {
    position: fixed;
    bottom: 30px;
    margin-right: 50px;
    display: block;

    height: 50px;
    width:50px;
    padding: 19px;
    margin-bottom: 30px;
    background-color:#303030;
    border: 1px solid #303030;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    opacity:0.5;
}


#back-top-a{
     width: 108px;

    text-align: center;
    font: 11px/100% Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
        /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top:hover
#back-top:focus
{
    color: #000;
}
 
.ShoppingPix{
    height:200px;
    width:150px;
}

.tab-pane{
    min-height:200px;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding:0.8em;
    background-color:white;
}

