@{
    ViewBag.Title = "درباره یوکا";
}

<br />
<br />
<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-8">
                <h2>@ViewBag.Title</h2>
                <br />
                <br />
                <p>
                    گیاهی ست زیبا از خانواده آگاواسه با برگهای کشیده و خنجری نوک تیز و به رنگ سبز و دو گونه دارد یکی که فاصله برگها در آن زیادتر است و گل نمی دهد و این نوع برای آپارتمان بیشتر توصیه می شود و نوع دیگر که فاصله برگهای آن کمتر و گلهایی به شکل زنگوله واژگون وسفید و کرم رنگ می دهد و برای کشت در باغچه مناسبتر است هر دو گونه را می توان هم در آپارتمان و هم در باغچه نگهداری کرد ...
                    گیاه یوکا,گیاه یوکا باغچه ای,گیاه یوکا چیست

                    گیاه یوکا,گیاه یوکا باغچه ای,گیاه یوکا چیست,کاشت گیاه یوکا,نحوه تکثیر گیاه یوکا,نام علمی گیاه یوکا,مشخصات گیاه یوکا,روش تکثیر گیاه یوکا,طرز تکثیر گیاه یوکا,آشنایی با گیاه یوکا
                    گل یوکا
                    گیاهی بسیار مقاوم است و در هر جای خانه می توان از آن استفاده کرد نسبت به شرایط نامساعد نور دما و هوا مقاوم است و به همین دلیل در اکثر خانه ها دیده می شود.
                    نیازها :
                    نور :به نور کافی احتیاج دارد در آفتاب کامل می توان نگهداری کرد ولی در سایه پس از مدتی گیاه بد شکل شده و فاصله برگها زیاد می شود .
                    دما :درجه حرارت مطلوب در زمستان ۱۰ تا ۱۶ درجه سانتیگراد است و در تابستان محتاج به نگهداری در خارج از اتاق است ولی کلا از نظر دما در هر فصلی هم میتوان در اتاق و یا خارج از خانه نگهداری نمود ( نسبت به سرما مقاوم است )
                    آبیاری :در تابستان آنرا همیشه مرطوب و هر ۲ تا ۳ روز یکبار آبیاری نمایید در زمستان بین دو آبیاری اجازه دهید تا سطح خاک گلدان خشک شود کلا اکثر گیاهان چون در زمستان به علت دمای پایین رشد نمی کنند به آب کمی نیازمند هستند.
                    خاک :خاک مناسب خاک لوم است که مخلوطی از شن رس و مواد آلی است .
                    تکثیر :جدا کردن پاجوشها ( پا گیاه ) در بهار از گیاه مادر و کاشتن آنها ، کاشتن قلمه در شن و ریشه دار کردن آن که در اوایل بهار بهتر جواب می دهد البته اگر جوانه انتهایی گیاه را ببرید گیاه پس از مدتی در قسمت جوانه انتهایی دو یا سه شاخه میشود که از آنها می توانید برای قلمه زدن استفاده نمایید .
                </p>
                <br />
                <br />
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images/Yucca_filamentosa.jpg" id="Aboutimg" />
            </div>
        </div>
    </div>
</div>
<br />
<br />