@{
    ViewBag.Title = "تماس با ما";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    تهران<br />
    خیابان اول ساختمان یوکا<br />
    <abbr title="تلفن">تلفن:</abbr>
    0913-686-1439
</address>

<address>
    <strong>پشتیبانی:</strong>   <a href="mailto:salman.maroufi@gmail.com">salman.maroufi@gmail.com</a><br />
    <strong>فروش:</strong> <a href="mailto:salman.maroufi@gmail.com">salman.maroufi@gmail.com</a>
</address>